{% include 'index.html' %} 

{% block style %}

{% endblock %}

{% block content %} 
<div class="card col-md-8 offset-md-2 mt-4">
    <div class="card-body">
      <form class="row" id="form-company">
        {% csrf_token %}
        {% for item in form_register_company %}
          <div class="form-group col-md-4">
            <label>{{ item.label }}</label>
            <input type="text" name="{{ item.name }}" class="form-control" value="">
            <span class="help-block">{{ item.help }}</span>
          </div>
        {% endfor %}
        <button type="button" id="save-company" class="btn btn-primary mt-2">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
    <script>
        const url_api_company = "" 
        const button = document.querySelector('#save-company');
        
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        button.addEventListener('click', function() {
            const form = document.querySelector('#form-company');
            const formData = new FormData(form);
            
            // const options = {
            //     method: 'POST',
            //     body: formData.toString(),
            //     headers: {
            //         'X-CSRFToken': csrftoken
            //     }
            // };

            const options = {
                method: 'GET',
                headers: {
                    'X-CSRFToken': csrftoken
                }
            };

            fetch(url_api_company, options).then(response => {
                // Procesa la respuesta del servidor
            });
        });
    </script>
{% endblock %}