{% extends 'index.html' %} 
{% load static %}


{% block style %}
<style>
  a {
    text-decoration: none;
    color: inherit;
  }
  </style>
{% endblock %}

{% block content %} 
<a href="#" onclick="window.history.back();">Volver</a>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" style="text-align: center; background-color: #d8f8e1!important;
     padding: 35px; align-items: center">

      <!-- Contenido de la primera columna -->
      <img src="{% static 'img/imagotipo-pilar.png' %}"  alt="Imagen 2" class"foto">
      <p class="tipo_comunidad text-center">
      <strong>NIT:</strong> 1.111.111
      </p> 
      <strong>Emprendimeitno realizado por:</strong>
      <p class="tipo_comunidad">
        Emprendimeitno realizado por
      </p>
      <strong>DATOS DE CONTACTO</strong>
      <strong>Departamento:</strong>
      <p class="tipo_comunidad">
        Departamento:
      </p>
      <strong>Ciudad:</strong>
      <p class="tipo_comunidad">
        Ciudad
      </p>
      <strong>Dirección:</strong>
      <p class="tipo_comunidad">
        Dirección
      </p>
      <strong>Numero de Contacto:</strong>
      <p class="tipo_comunidad">
        numero de contacto
      </p>
      <strong>Pagina web:</strong>
      <p class="tipo_comunidad">
        pagina web
      </p>
    </div>
    <div class="col-md-8">
      <!-- Contenido de la segunda columna -->
      <label class=""for="nombres"><strong>Razon Social:</strong></label>
      <h1 class="nombre">PILAR</h1>
      <strong>Descripción:</strong>
      <p class="descripcion">
      {% lorem 1 b random %}
      </p>
      <strong>Misión:</strong>
      <p class="mision">
      {% lorem 1 b random %}
      </p>
      <strong>Visión:</strong>
      <p class="vision">
      {% lorem 1 b random %}
      </p>
      <div>
    </div>
  </div>
</div>



{% endblock %}

{% block javascript %}

{% endblock %}

