{% extends 'index.html' %} 
{% load static %}

{% block style %}

<style>
a {
  text-decoration: none;
  color: inherit;
}
</style>
    
{% endblock %}

{% block content %} 
<!-- Crea el carrusel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <!-- Indicadores del carrusel -->
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
<!-- Contenido del carrusel -->
<div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/imagen1.png' %}" class="d-block w-100" alt="Imagen 1">
      <div class="carousel-caption d-none d-md-block">
        <h5>Título 1</h5>
        <p>Descripción 1</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/imagen2.png' %}"  class="d-block w-100" alt="Imagen 2">
      <div class="carousel-caption d-none d-md-block">
        <h5>Título 2</h5>
        <p>Descripción 2</p>
      </div>
    </div>
</div>
<div class="container">
  <div class="row" id="companyList" >

  </div>
</div>
      
        
{% endblock %}

{% block javascript %}
<script>
function getCompanies() {
  // Set the endpoint URL
  var url = "/api-company/list/";
  var urlDetails = "/company/details";

   // get data companies 
  fetch(url)
  .then((response) => response.json())
  .then((data) => data.forEach(company => {
    const div = document.getElementById('companyList');
    var urlDetailsId = `${urlDetails}/${company.id}`
    div.innerHTML += `        
    <div class="col-sm-6 col-md-4 col-lg-2 my-4" >
      <a href="${urlDetailsId}" class="style-none">
        <div class="card border-success"  >
          <img src="" alt="Imagen de la tarjeta">
          <div class="card-body" >
            <h5 class="card-title">${company.name} </h5>
            <p class="card-text">Categoría de la tarjeta </p>
          </div>
        </div>
      </a>  
    </div>`;
  }));
}
document.addEventListener("DOMContentLoaded",function(event){
  getCompanies();
});
</script>
         
{% endblock %}



   
